/* Luukku asetukset alkaa */

@-webkit-keyframes shake {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    40% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    60% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    80% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes shake {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    40% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    60% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    80% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

#main {
    text-align: center;
    padding: 1em;
}

.box,
.present {
    width: 100%;
    height: 100%;
}

.article {
    position: relative;
    top: 125px;
    display: inline-flex;
    width: 9em;
    height: 9em;
    margin: 0.5em;
    -webkit-perspective: 850px;
    perspective: 850px;
}

.box {
    position: fixed;
    top: -8px;
    
    left: -8px;
    background: url(http://myy.haaga-helia.fi/~a1704538/images/luukku1.jpg);
    background: url(http://myy.haaga-helia.fi/~a1704538/images/luukku1.jpg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0;
    transform-origin: 0;
    -webkit-perspective: 850px;
    perspective: 850px;
    text-align: center;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
     display: inline-block;
    width: 9em;
    height: 9em;
    margin: 0.5em;
    -webkit-perspective: 850px;
    perspective: 850px;
    
}

.box h2 {
    position: fixed;
    width: 3em;
    height: 3em;
    top: 75px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0.5em;
    font-size: 0.85em;
    line-height: 3em;
    color: white;
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.15);
}

.article:hover .box {
    background-image: url(http://myy.haaga-helia.fi/~a1704538/images/luukku1.jpg);
    background: url(http://myy.haaga-helia.fi/~a1704538/images/luukku1.jpg);
    -webkit-transform: rotateY(-97deg);
    transform: rotateY(-97deg);
    -webkit-perspective-origin: 0;
    perspective-origin: 0;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.article:hover .box h2 {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.article:hover .bauble {
    display: inline-block;
    -webkit-animation: shake 1s;
    animation: shake 1s;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.present {
    position: fixed;
    
    left: 0;
    background: transparent;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15), inset 0 0 30px 20px rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.bauble {
    position: relative;
    width: 2.75em;
    height: 2.75em;
    background: url(http://myy.haaga-helia.fi/~a1704538/images/frostivus);
    margin: 25% auto 0 auto;
    font-size: 2em;
    font-weight: bold;
    line-height: 2.75em;
    color: white;
    border-radius: 50%;
    background-size: cover;
}



.bauble:after {
    content: "";
    position: absolute;
    top: -5%;
    left: 50%;
    margin-left: -15%;
    width: 30%;
    height: 10%;
    background: inherit;
}

.bauble:before {
    content: "";
    width: 12%;
    height: 20%;
    position: absolute;
    top: -15%;
    left: 50%;
    margin-left: -12%;
    border-radius: 50%;
    border: 0.35rem solid #a94b61;
    z-index: 0;
}

.article:hover .box.closedDoor {
    transform: none;
}


/* Luukku asetukset loppuu */

body {
    background-image: url(http://myy.haaga-helia.fi/~a1704538/images/christmasbase.jpg);
    margin:auto;

}

table {
    position: fixed;
    top: 50px;
}
